@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .underline-center {
      position: relative;
    }
  
    .underline-center::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: currentColor;
      transform: translateX(-50%);
      transition: width 0.3s ease-in-out;
    }
  
    .underline-center:hover::after,
    .underline-center.active::after {
      width: 100%;
    }
  }